<mat-toolbar color="primary">
  <img src="../assets/meloudi.png">

  <button mat-icon-button (click)="previous()" (keyup)="false">
    <span class="material-icons">skip_previous</span>
  </button>
  <button mat-icon-button (click)="toggleIsPlaying()" (keyup)="false">
    <span class="material-icons" *ngIf="isPlaying">pause</span>
    <span class="material-icons" *ngIf="!isPlaying">play_arrow</span>
  </button>
  <button mat-icon-button (click)="next()" (keyup)="false">
    <span class="material-icons">skip_next</span>
  </button>
  <button mat-icon-button (click)="stop()" (keyup)="false">
    <span class="material-icons">stop</span>
  </button>

  <span class="flex-expand"></span>
  
  <div class="mid-top-panel" *ngIf="song.title">
    <p>
    <span> {{ song.title }} - {{ song.artist_name }}</span>
    <br>
    <mat-slider
    min="0"
    [max]="audioFile.duration"
    [value]="audioFile.currentTime"
    aria-label="Track position"
    (input)="adjustPlaybackPosition($event)">
    </mat-slider>
    <span id="time"> {{ song.seconds / 60 - (song.seconds % 60)/60 }}:{{ song.seconds % 60 < 10 ? '0' + song.seconds % 60 : song.seconds % 60 }}</span>
    </p>
  </div>

  <span class="flex-expand"></span>

  <button mat-icon-button (click)="toggleShuffling()" (keyup)="false">
    <span class="material-icons" *ngIf="isShuffling">shuffle_on</span>
    <span class="material-icons" *ngIf="!isShuffling">shuffle</span>
  </button>
  <button mat-icon-button (click)="toggleReplaying()" (keyup)="false">
    <span class="material-icons" *ngIf="isReplaying">replay_circle_filled</span>
    <span class="material-icons" *ngIf="!isReplaying">replay</span>
  </button>
  <span class="material-icons" *ngIf="audioFile.volume > 0.5">volume_up</span>
  <span 
    class="material-icons"
    *ngIf="audioFile.volume <= 0.5 && audioFile.volume != 0.0">
    volume_down
  </span>
  <span class="material-icons" *ngIf="audioFile.volume == 0.0">volume_off</span>
  <mat-slider
    min="0"
    max="100"
    value="100"
    aria-label="Audio level"
    (input)="adjustVolume($event)">
  </mat-slider>
  <div class="spacing"></div>
  <app-auth-button></app-auth-button>
</mat-toolbar>

<div class="content" role="main"></div>

<mat-tab-group>
  <mat-tab label="Library">
    <app-library
      (chosenSong)="playNow($event)"
      (songsOutput)="receiveSongs($event)">
    </app-library>
  </mat-tab>
  <mat-tab label="Playlists">
    <app-playlists
      (chosenSong)="playNow($event)"
      (isWriting)="setIsWirting($event)"
      [songs]="songs">
    </app-playlists>
  </mat-tab>
  <mat-tab label="Queue">
    <app-queue
      (nextSong)="playSong($event)">
    </app-queue>
  </mat-tab>
  <mat-tab label="Lyrics">
    <app-lyrics
      [song]="song"></app-lyrics>
  </mat-tab>
  <mat-tab label="Friends">
    <app-friends
    (chosenSong)="playNow($event)">
    </app-friends>
  </mat-tab>
  <mat-tab label="Profile">
    <app-profile></app-profile>
  </mat-tab>
</mat-tab-group>