<mat-toolbar color="primary">
  <span>Meloudi</span>
  <button mat-icon-button><span class="material-icons">skip_previous</span></button>
  <button mat-icon-button (click)="toggleIsPlaying()"><span class="material-icons" *ngIf="isPlaying">pause</span><span class="material-icons" *ngIf="!isPlaying">play_arrow</span></button>
  <button mat-icon-button><span class="material-icons">skip_next</span></button>
  <button mat-icon-button (click)="stop()"><span class="material-icons">stop</span></button>
  <button mat-icon-button><span class="material-icons">shuffle</span></button>
  <button mat-icon-button><span class="material-icons">replay</span></button>
  <span class="flexExpand"></span>
  <button mat-button routerLink="/albums" routerLinkActive="active">Album</button>
  <button mat-button routerLink="/playlists" routerLinkActive="active">Spellistor</button>
  <button mat-button>Vänner</button>
  <button mat-button>Profil</button>
</mat-toolbar>

<div class="content" role="main"></div>

<!--<app-album [isPlaying]="isPlaying"></app-album>-->

<router-outlet></router-outlet>
