<mat-toolbar color="primary">
  <span>Meloudi</span>
  <button mat-icon-button>
    <span class="material-icons">skip_previous</span>
  </button>
  <button mat-icon-button (click)="toggleIsPlaying()">
    <span class="material-icons" *ngIf="isPlaying">pause</span>
    <span class="material-icons" *ngIf="!isPlaying">play_arrow</span>
  </button>
  <button mat-icon-button>
    <span class="material-icons">skip_next</span>
  </button>
  <button mat-icon-button (click)="stop()">
    <span class="material-icons">stop</span>
  </button>
  <button mat-icon-button>
    <span class="material-icons">shuffle</span>
  </button>
  <button mat-icon-button>
    <span class="material-icons">replay</span>
  </button>
  <span class="material-icons" *ngIf="audioFile.volume > 0.5">volume_up</span>
  <span
  class="material-icons"
  *ngIf="audioFile.volume <= 0.5 && audioFile.volume != 0.0">volume_down
  </span>
  <span class="material-icons" *ngIf="audioFile.volume == 0.0">volume_off</span>
  <mat-slider
  min="0"
  max="100"
  value="100"
  aria-label="Audio level"
  (input)="adjustVolume($event)">
  </mat-slider>

  <span class="flexExpand"></span>

  <span> {{ song.title }} - {{ song.artist_name }} </span>
  <mat-slider
  min="0"
  [max]="audioFile.duration"
  [value]="audioFile.currentTime"
  aria-label="Track position"
  (input)="adjustPlaybackPosition($event)">
  </mat-slider>

  <span class="flexExpand"></span>

  <button mat-button (click)="viewAlbums()">Library</button>
  <button mat-button (click)="viewPlaylists()">Playlists</button>
  <button mat-button>Friends</button>
  <button mat-button>Profile</button>
</mat-toolbar>

<div class="content" role="main"></div>

<app-library
  *ngIf="showLibrary"
  (chosenSong)="chooseSong($event)">
</app-library>

<app-playlists
  *ngIf="showPlaylists"
  (chosenSong)="chooseSong($event)">
</app-playlists>

<!--<router-outlet></router-outlet>-->
