.playlist {
    width: 15em;
    text-align: left;
}

.song {
    width: 25em;
}

.listTitle {
    text-align: center;
}

.playlist-card {
    max-width: 300px;
}

.flex-container {
    display: flex;
  }