<div class="flex-container">
    <div>
        <mat-list class="platlist-list">
            <h2 class="list-title">
                Playlists
                <button
                mat-icon-button color="accent"
                (click)="openNewPlaylistDialog()"
                (keyup)="false">
                    <span class="material-icons">add</span>
                </button>
            </h2>
            <mat-list-item *ngFor="let playlist of playlists">
                <button
                mat-stroked-button
                class="playlist"
                (click)="choosePlaylist(playlist)"
                (contextmenu)="enqueuePlaylist(playlist)"
                (keyup)="false">
                <p>{{ playlist.title }}</p>
                </button>
            </mat-list-item>
        </mat-list>
    </div>

    <div *ngIf="chosenPlaylist.title">
        <mat-list class="song-list">
            <h2 class="list-title">
                <button 
                mat-icon-button
                color="accent"
                (click)="playChosenPlaylist()"
                (keyup)="false">
                    <span class="material-icons">play_arrow</span>
                </button>
                Songs
                <button 
                mat-icon-button
                color="accent"
                (click)="openAddSongDialog()"
                (keyup)="false">
                    <span class="material-icons">add</span>
                </button>
            </h2>
            <mat-list-item *ngFor="let song of chosenSongs">
                <div class="song">
                    <button
                    mat-stroked-button
                    id="song-button"
                    (click)="playSong(song)"
                    (contextmenu)="enqueueSong(song)"
                    (keyup)="false">
                        <p class="left">{{ song.title }}</p>
                        <p class="right">{{ song.artist_name }}</p>
                    </button>
                    <button
                    mat-icon-button
                    color="warn"
                    class="right"
                    id="remove-button"
                    (click)="removeSong(song)">
                        <span class="material-icons">remove</span>
                    </button>
                </div>
            </mat-list-item>
        </mat-list>
    </div>

    <div *ngIf="chosenPlaylist.title">
        <mat-card class="playlist-card">
            <mat-card-header>
                <mat-card-title>
                    {{ chosenPlaylist.title }}
                    <button
                    mat-icon-button
                    color="accent"
                    (click)="openEditDialog()"
                    (keyup)="false">
                        <span class="material-icons">edit_note</span>
                    </button>
                    <button
                    mat-icon-button
                    color="warn"
                    (click)="openDeleteDialog()"
                    (keyup)="false">
                        <span class="material-icons">delete</span>
                    </button>
                </mat-card-title>
                <mat-card-subtitle>
                    {{ chosenPlaylist.amount }} songs - 
                    {{ chosenPlaylist.minutes }} min
                </mat-card-subtitle>
                <mat-card-subtitle>
                    {{ chosenPlaylist.owner_name }} - {{ chosenPlaylist.date }}
                </mat-card-subtitle>
                <mat-card-subtitle><p>
                    {{ chosenPlaylist.description }}
                </p></mat-card-subtitle>
            </mat-card-header>
            <mat-button-toggle-group
            (change)="toggleIsPublic($event.value)">
                <mat-button-toggle
                [checked]="!chosenPlaylist.is_public" 
                value=false>Private
                </mat-button-toggle>
                <mat-button-toggle
                [checked]="chosenPlaylist.is_public"
                value=true>Public
                </mat-button-toggle>
              </mat-button-toggle-group>
        </mat-card>
    </div>
</div>