<div class="flex-container">
    <div>
        <mat-list>
            <h2 class="list-title">
                Playlists
                <button mat-icon-button (click)="openNewPlaylistDialog()">
                    <span class="material-icons">add</span>
                </button>
            </h2>
            <mat-list-item *ngFor="let playlist of playlists">
                <button
                mat-stroked-button
                class="playlist"
                (click)="choosePlaylist(playlist)">
                <p>{{ playlist.title }}</p>
                </button>
            </mat-list-item>
        </mat-list>
    </div>

    <div *ngIf="chosenPlaylist.title">
        <mat-list class="song-list">
            <h2 class="list-title">
                Songs
                <button mat-icon-button (click)="openAddSongDialog()">
                    <span class="material-icons">add</span>
                </button>
            </h2>
            <mat-list-item *ngFor="let song of chosenSongs">
                <button
                mat-stroked-button
                class="song"
                (click)="playSong(song)">
                <p>{{ song.title }} - {{ song.artist_name }}</p>
                </button>
            </mat-list-item>
        </mat-list>
    </div>

    <div *ngIf="chosenPlaylist.title">
        <mat-card class="playlist-card">
            <mat-card-header>
                <mat-card-title>
                    {{ chosenPlaylist.title }}
                    <button mat-icon-button (click)="openEditDialog()">
                        <span class="material-icons">edit_note</span>
                    </button>
                    <button mat-icon-button (click)="openDeleteDialog()">
                        <span class="material-icons">delete</span>
                    </button>
                </mat-card-title>
                <mat-card-subtitle>
                    {{ chosenPlaylist.amount }} songs - 
                    {{ chosenPlaylist.minutes }} min
                </mat-card-subtitle>
                <mat-card-subtitle>
                    {{ chosenPlaylist.owner_name }} - {{ chosenPlaylist.date }}
                </mat-card-subtitle>
                <mat-card-subtitle><p>
                    {{ chosenPlaylist.description }}
                </p></mat-card-subtitle>
            </mat-card-header>
            <mat-button-toggle-group
            (change)="toggleIsPublic($event.value)">
                <mat-button-toggle
                [checked]="!chosenPlaylist.is_public" 
                value=false>Private
                </mat-button-toggle>
                <mat-button-toggle
                [checked]="chosenPlaylist.is_public"
                value=true>Public
                </mat-button-toggle>
              </mat-button-toggle-group>
        </mat-card>
    </div>
</div>