.playlist {
    width: 15em;
    text-align: left;
}

.song {
    width: 20em;
    text-align: left;
}

.list-title {
    text-align: center;
}

.song-list {
    width: 20em;
}

.playlist-card {
    width: 15em;
}

.flex-container {
    display: flex;
  }