.flex-container {
    display: flex;
}

.album, .artist {
    width: 15em;
    text-align: left;
}

.album-list .artist-list {
    width: 15em;
}

.song-list .song {
    width: 25em;
}

.list-title {
    text-align: center;
}

.song .album .artist {
    border: solid 1px darkorchid;
}

.left {
    float: left;
}

.right {
    float: right;
}