<div class="title-container">
    <h2 class="list-title">
        Upcoming
        <button mat-icon-button id="clear-button" color="warn" (click)="clearQueue()">
            <span class="material-icons">delete</span>
        </button>
    </h2>
</div>
<div cdkDropList class="queue-list" (cdkDropListDropped)="drop($event)">
    <div class="queue-item" *ngFor="let song of queue" cdkDrag>
        <p class="left">{{ song.title }}</p>
        <p class="right">{{ song.artist_name }}
            <button mat-icon-button color="warn" id="remove-button" (click)="dequeu(song)">
                <span class="material-icons">remove</span>
            </button>
        </p>
    </div>
</div>
